html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    position: relative; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}

body::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.container {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

h1 {
    text-align: center; /* Centra el texto del h1 */
    margin-bottom: 20px; /* Espaciado inferior opcional */
}

img {
    height: 50vh; /* Establece la altura de la imagen al 50% de la altura de la ventana */
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}